@import '../animation/fadeIn';

.contact-form-container{
  
  border:none;
  width:50%;
  height:80%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  padding:10px;
  background:#f7f7f7;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}



.contact-input, submit-button{
  width:90%;

}

.contact-input{
  padding:10px;
  margin:5px;
  border: 0;

}

.contact-input:focus{
  outline:none;
  border-bottom:none;
  transition:ease-in-out 0.25s;

}

.contact-form-container .submit-button{
  padding: 10px 16px;
  width: 90%;
  margin-top:10px;
  border:none;
  background-color:#333;
  color:#fff;
  font-size:1.25em;
  transition: ease-in-out 0.5s;

}

.contact-form-container .submit-button:hover{
  opacity:0.6;
  cursor:pointer;

}

//Sent Message

.sent-message-box, .contact-form-container{
   
    margin:auto;

}

.sent-message-box{
  
  width: 100%;
  height: 50%;
  font-size: 1.5em;
  color: #000;
  text-align: center;
  padding: 12px 16px;
  animation-name: fadeIn;
  animation-duration: 0.5s;

}