@import '../animation/fadeIn';

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.card {
    height: 350px;
    border: none;
    min-width: fit-content;
    padding: 0;
    margin-bottom: 40px;
    border-radius: 0;
}

.card-body {
    margin: 0;
    width: 250px;
}

.card-body .btn{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    padding: 10px 65px;
    background-color: #000;
    border-radius: 0;
    border-color: #000;
}

.bigCase .btn:hover{
    border-color: #fff;
    border-width: 1px;
    background-color: transparent;
    transition: 0.3s;
}

.smallCase .btn:hover{
    border-color: #000;
    color: #000;
    border-width: 1px;
    background-color: transparent;
    transition: 0.3s;
}

.smallCase {
    display: inline-block;
    width: auto;
    // background-color: #FDD9D3;
}

.bigCase {
    width: 70%;
    background-size: 100%;
    background-position-y: 50%;
    } 

.bigCase .card-body {
    background-color: rgba(0,0,0,0.5);
    color: #f7f7f7;
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 20px;
}

// @media screen and (max-width: 1600px) {

// }

@media screen and (max-width: 1024px) {   
  
  }
  
//   @media screen and (max-width: 768px) {

//   }
  
// @media screen and (max-width: 480px) {
  
// }