 // Navigation Body 

 .navbar {
   margin-left: auto;
   color: white;
   background-color: #1C1C21;
   position: fixed;
   top: 0;
   width: 100%;
 }

 .navbar-collapse {
   justify-content: center;

 }

 .ml-auto .mx-auto {
   margin-left: 0 !important;
   justify-content: center;
 }

 .navbar-nav {
   margin-left: auto;
 }

 // Navigation Right Side

 .navbar #contact {
   background-color: #D28C00;
   color: #1C1C21;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 10px;
   height: 35px;
   padding: 10px;
   margin-right: 20px;
 }

 .navbar #engelska {
   color: rgba(255, 255, 255, 1);
   text-transform: uppercase;
   font-weight: bold;
   font-size: 10px;
 }

 .navbar #svenska {
   color: rgba(255, 255, 255, 0.5);
   text-transform: uppercase;
   font-weight: bold;
   font-size: 10px;
   margin-right: 20px;
 }

 // Navigation Left Side

 .navbar-light .navbar-brand {
   color: rgba(255, 255, 255, 1);
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 14px;
   margin-left: 20px;
 }

 .navbar-light .navbar-brand:hover {
   color: #D28C00;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 14px;
   margin-left: 20px;
 }

 // Navigation Center links


 .ml-auto #testimonials {
   margin: 25px;
 }

 .ml-auto navbar-nav {
   position: absolute;
 }

 .navbar .nav-item {
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 11px;
   color: white;

 }

 .navbar .nav-item .navCenter {
   padding: 15px;
 }

 a,
 .navbar-brand,
 .navbar-nav .nav-item {
   color: rgba(255, 255, 255, 1);

   &:hover {
     color: #D28C00;
     opacity: 1;
     outline: none;
     text-decoration: none;
   }
 }