.navbar {
  margin-left: auto;
  color: white;
  background-color: #1C1C21;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-collapse {
  justify-content: center;
}

.ml-auto .mx-auto {
  margin-left: 0 !important;
  justify-content: center;
}

.navbar-nav {
  margin-left: auto;
}

.navbar #contact {
  background-color: #D28C00;
  color: #1C1C21;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  height: 35px;
  padding: 10px;
  margin-right: 20px;
}

.navbar #engelska {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.navbar #svenska {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin-right: 20px;
}

.navbar-light .navbar-brand {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-left: 20px;
}

.navbar-light .navbar-brand:hover {
  color: #D28C00;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-left: 20px;
}

.ml-auto #testimonials {
  margin: 25px;
}

.ml-auto navbar-nav {
  position: absolute;
}

.navbar .nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  color: white;
}

.navbar .nav-item .navCenter {
  padding: 15px;
}

a,
.navbar-brand,
.navbar-nav .nav-item {
  color: white;
}
a:hover,
.navbar-brand:hover,
.navbar-nav .nav-item:hover {
  color: #D28C00;
  opacity: 1;
  outline: none;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  display: contents;
}

.overview {
  display: flex;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  height: 720px;
  background-position-x: center;
  color: white;
  padding: 100px;
  align-items: flex-end;
  background-size: cover;
}

.overview h1 {
  font-size: 72px;
  font-family: "Playfair Display";
  font-style: italic;
  white-space: pre-wrap;
  padding: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-form-container {
  border: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 10px;
  background: #f7f7f7;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.contact-input,
submit-button {
  width: 90%;
}

.contact-input {
  padding: 10px;
  margin: 5px;
  border: 0;
}

.contact-input:focus {
  outline: none;
  border-bottom: none;
  transition: ease-in-out 0.25s;
}

.contact-form-container .submit-button {
  padding: 10px 16px;
  width: 90%;
  margin-top: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1.25em;
  transition: ease-in-out 0.5s;
}

.contact-form-container .submit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.sent-message-box,
.contact-form-container {
  margin: 100px auto;
}

.sent-message-box {
  width: 100%;
  height: 50%;
  font-size: 1.5em;
  color: #000;
  text-align: center;
  padding: 12px 16px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.messageContainer {
  padding: 120px;
  display: flex;
  justify-content: center;
}

.messageTitle {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

.messageParagraph {
  font-family: "Lato", serif;
  margin-left: 120px;
  width: 40%;
  font-size: 20px;
  color: #6A6464;
  white-space: pre-wrap;
}

.footer {
  background-color: #F2F2F2;
  padding: 10%;
  display: flex;
}

.smallCase {
  border: none;
}

.card-body .card-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 25px;
}

.card-body .card-text {
  font-size: 16px;
  color: #6A6464;
}

.card-body img {
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card-body button {
  background-color: transparent;
  border: none;
  color: #D28C00;
  font-size: 11px;
  text-transform: uppercase;
  margin-left: -12px;
}

.card-body button:hover {
  background-color: transparent;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.testimonials {
  display: block;
  width: 40%;
  padding: 5%;
}

.find_us {
  display: block;
  width: 40%;
  padding: 5%;
}

.case_one {
  display: block;
  width: 40%;
  padding: 5%;
}

.no_match {
  text-align: center;
  padding: 20%;
}

/*# sourceMappingURL=styles.css.map */
